body {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
}

h3 {
    font-size: 24px;
}

.information h2 {
    font-size: 48px;
    margin: 0;
    padding: 0;
}

.information p {
    font-size: 18px;
}

.information button {
    font-size: 18px;
    font-weight: bold;
    padding: 6px 26px;
    border-radius: 10px;
}

.container-1 {
    background-color: teal;
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0;
    padding: 0 120px 80px 120px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.links ul {
    font-size: 18px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 16px;
}

.media-object {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex: 1;
}

.information {
    width: 480px;
    height: 300px;
}

