body {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.container-1 {
    color: rgb(245, 239, 239);
    background-color: teal;
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0;
    padding: 0 120px 80px 120px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
    margin-top: 12px;
}

h3 {
    font-size: 24px;
    margin: 0;
    flex: 1;
}

.links ul {
    font-size: 18px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    flex: 1;
    gap: 20px;
}

.media-object {
    display: flex;
    justify-content: space-between;
    align-items: start;

}

.information {
    max-width: 520px;
    height: 320px;
    flex: auto;
}

.image img {
    max-width: 470px;
}

.information h2 {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
    padding: 0 0 12px 0;
    line-height: 0.9;
}

.information p {
    font-size: 18px;
    margin: 0;
    padding: 0 0 26px 0;
}

.information button {
    font-size: 18px;
    font-weight: bold;
    padding: 6px 26px;
    border-radius: 10px;
}




